<!doctype html>
<html lang="en">
  <head>
    <title>查找账户</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    
  <div class="container">
      <br><br>
      <h1>查找账户</h1>
      <br>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" name="query" class="form-control" placeholder="请输入账户号">
          &nbsp&nbsp&nbsp
          <button type="submit" class="btn btn-primary">查询</button>
          &nbsp&nbsp&nbsp
          <a href="/account/insert_checking">
            <button type="button" class="btn btn-success">新建支票账户</button>
          </a>
          &nbsp&nbsp&nbsp
          <a href="/account/insert_saving">
            <button type="button" class="btn btn-success">新建储蓄账户</button>
          </a>
          &nbsp&nbsp&nbsp
          <a href="/index">
            <button type="button" class="btn btn-secondary">返回</button>
          </a>
        </div>
      </form>
      <br>
      <p>查找词：{{query}} &nbsp&nbsp 共查找到账户：{{num}} 个</p>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>账户号</th>
            <th>账户类型</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for account in account_list %}
            <tr>
              <td>{{ account.account_id }}</td>
              <td>{{ account.type }}</td>
              <td>
                <div class="row">
                  &nbsp&nbsp&nbsp
                  <!-- <form>
                    <button type="submit" class="btn btn-primary btn-sm">查看</button>
                  </form>
                  &nbsp&nbsp -->
                  <form action="/account/{{ account.account_id }}/update">
                    <button type="submit" class="btn btn-primary btn-sm">查看&修改</button>
                  </form>
                  &nbsp&nbsp
                  <form>
                    <button type="button" onclick="delet('{{ account.account_id }}')" class="btn btn-danger btn-sm">删除</button>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">删除结果</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" onclick="location.reload()" class="btn btn-primary" data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function delet(account_id){
      $.ajax({
        type: 'POST',
        url: '/account/search/',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'account_id': account_id
        },
        success: function (result) {
          $('#modal-body').text(result);
          $('#modelId').modal('show');
        },
      });
    };
  </script>
    
  </body>
</html>