<!doctype html>
<html lang="en">
  <head>
    <title>修改账户信息</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="container">
    <br>
    <h1>修改账户信息</h1><br>
    <form action="" method="post" id="form1">
      {% csrf_token %}
      <h3>账户信息</h3>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="account_id">账户号</label>
            <input type="text" name="account_id" value="{{ account_id }}" class="form-control" disabled>
          </div>
          <div class="col-md-6">
            <label>支行名</label>
            <input type="text" name="branch_name" value="{{ branch_name }}" class="form-control" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>余额</label>
            <input type="text" name="balance" value="{{ balance }}"  class="form-control">
          </div>
          <div class="col-md-6">
            <label>开户日期</label>
            <input type="text" name="open_date" value="{{ open_date }}" class="form-control" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>利率</label>
            <input type="text" name="rate" value="{{ rate }}"  class="form-control">
          </div>
          <div class="col-md-6">
            <label>货币类型</label>
            <input type="text" name="currency_type" value="{{ currency_type }}"  class="form-control">
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-3 offset-md-10">
        <button type="button" id="btn-submit" class="btn btn-primary">提交修改</button>
        <form>
          <button type="button" onclick="location.href='/account/search'" class="btn btn-secondary">返回</button>
        </form>
      </div>
      <br>
      <h3>所属客户管理</h3>
      <br>
      <form class="form-inline" id="form2">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" name="client_id" class="form-control" placeholder="请输入客户身份证">
          &nbsp&nbsp&nbsp
          <button type="button" id="btn_new" class="btn btn-success">新增</button>
        </div>
      </form>
      <br>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>客户身份证</th>
            <th>最近访问日期</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for client_visit in client_visit_list %}
            <tr>
              <td>{{ client_visit.client_id }}</td>
              <td>{{ client_visit.latest_visit_date }}</td>
              <td>
                <div class="row">
                  &nbsp&nbsp&nbsp
                  <form>
                    <button type="button" onclick="delet('{{ client_visit.client_id }}')" class="btn btn-danger btn-sm">删除</button>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form> 
  </div>
  

  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">提交结果</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" onclick="location.reload()" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#btn-submit').click(function(){
      $.ajax({
        type: 'POST',
        url: '',
        data: $('#form1').serialize(),
        success: function (result) {
          $('#modal-body').text(result);
          $('#modelId').modal('show');
        },
      });
    });
  </script>

  <script type="text/javascript">
    $('#btn_new').click(function(){
      $.ajax({
        type: 'POST',
        url: '',
        data: $('#form2').serialize(),
        success: function (result) {
          $('#modal-body').text(result);
          $('#modelId').modal('show');
        },
      });
    });
  </script>

  <script type="text/javascript">
    function delet(client_id){
      $.ajax({
        type: 'POST',
        url: '',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'is_delete': true,
          'client_id': client_id
        },
        success: function (result) {
          $('#modal-body').text(result);
          $('#modelId').modal('show');
        },
      });
    };
  </script>
  
  </body>
</html>